// Swiper Slider for Centers
@use "abstracts" as *;

.lcm-center {
    margin: $block-margin 0 $margin_4x;
    
    &__header {
        margin: 16px 0 0 8px;
    }
    &__title {
        font-size: 18px;

        a {
            text-decoration: none;
            color: $primary-color;
        }
    }
}