@use "abstracts" as *;

/* Entry Meta
--------------------------------------------- */
.entry-header {

    .entry-time,
    .entry-author,
    .entry-categories {
        position: relative;
        font-size: 16px;
        padding-left: 28px;
        margin-right: 1em;

        &::before {
            content:'';
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateY(-50%);
            background: url(../../assets/icons/utility/calendar.svg) no-repeat 50% 50%;
            background-size: cover;
            width: 20px;
            height: 20px;
        }
    }

    .entry-categories {

        &::before {
            background: url(../../assets/icons/utility/folder.svg) no-repeat 50% 50%;
            background-size: cover;
        }
    }

    .entry-author {

        &::before {
            background: url(../../assets/icons/utility/user.svg) no-repeat 50% 50%;
            background-size: cover;
        }
    }

	.entry-footer & {
		border-top: 1px solid $grey_3;
		padding-top: $block-margin;
        margin-top: $block-margin;
	}

	// .entry-comments-link::before {
	// 	content: "\2014";
	// 	margin: 0 6px 0 2px;
	// }
} 
  
.entry-tags {
	display: flex;
    flex-flow: row wrap;
    margin: 2rem 0;
    padding: 1rem 0;
    border-top: 1px solid $grey_3;

    a {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        padding: .25ch 1.25ch .25ch 3.1ch;
        margin: 0 6px 6px 0;
        background-color: transparent;
        text-decoration: none;
        color: $base-color;
        border-radius: $border-radius;
        border: 2px solid $grey_4;
        position: relative;

        &::before {
            content:'';
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 10px;
            transform: translateY(-50%);
            background: url(../../assets/icons/utility/tag.svg) no-repeat 50% 50%;
            background-size: cover;
            width: 16px;
            height: 16px;
        }

        &:hover {
            border-color: $highlight;
        }
    }
}

// .entry-author {
// 	font-size: 14px;

// 	.avatar {
// 		border-radius: 50%;
// 		display: inline-block;
// 		vertical-align: middle;
// 		margin-right: 4px;
// 	}

// 	a {
// 		color:$primary-color;;
// 		text-decoration: none;

// 		&:hover {
// 			color: $highlight;
// 		}
// 	}
// }

// .entry-meta {
// 	font-size: 16px;
// 	margin-bottom: 0;

// 	.entry-header & {
// 		margin-bottom: 20px;
// 	}

// 	.entry-footer & {
// 		border-top: 1px solid $grey_3;
// 		padding-top: 20px;
// 	}

// 	.entry-comments-link::before {
// 		content: "\2014";
// 		margin: 0 6px 0 2px;
// 	}
// } 
  
// .entry-categories,
// .entry-tags {
// 	display: block;
// }



.breadcrumb {
	font-size: 16px;
	margin-bottom: 24px;

	a {
		color: $primary-color;

		&:hover {
			color: $highlight;
		}
	}

	.single & {
		border-top: 1px solid $grey_3;
		padding-top: 32px;
		text-align: center;
	}
}

.author-box {
	position: relative;
	padding-left: 120px;
	min-height: 120px;

	.archive & {
		grid-column: 1 / -1;
		max-width: $content-width;
		margin: 0 auto $grid-gap;
	}

	.author-box-title {
		@include font-sizes( 22px, 28px );
	}

	.avatar {
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
}